<!DOCTYPE html>
<html>
    <header>
        <link rel="stylesheet" type="text/css" href="./css/style.css" media="screen"/>
        <title id = "title"> A Survey Form Layout </title>
   
    </header>

    <h1> Result Statistics </h1>

<body>

        
        </div>
       
        <div class = "container">

                <div id="description" >The following statistics were calculated based on the petfeeding survey.</div>
        

            

              <p> The average employee budget for dog food is: <%= JSON.stringify(avgBudget.rows[0].average_budget, null, 4) %> </p>   <!-- Embedded ejs to load result-->
            
              <p> Most employees own dogs for: <%= JSON.stringify(topReas) %> </p>  <!-- Embedded ejs to load result-->
                
              <p> The top 3 ingredients to avoid are: <%= JSON.stringify(top3)  %> </p> <!-- Embedded ejs to load result-->
                
              <p> Additional comments are:   </p>  <!-- Embedded ejs to load result-->

            
        </div>





        
        

    
</html>