<!DOCTYPE html>
<html>
    <header>
        <link rel="stylesheet" type="text/css" href="./css/style.css" media="screen"/>
        <title id = "title"> A Survey Form Layout </title>
   
    </header>

    <h1> Result Statistics </h1>

<body>

        
        </div>
       
        <div class = "container">

                <div id="description" >The following statistics were calculated based on the petfeeding survey.</div>
        

            

              <p> The average employee budget for dog food is: <%= results.getValue(0) %> </p>   <!-- Embedded ejs to load result-->
            
              <p> Most employees own dogs for: <%= results.getValue(1) %> </p>  <!-- Embedded ejs to load result-->
                
              <p> The top 3 ingredients to avoid are: <%= results.getValue(2) %> </p> <!-- Embedded ejs to load result-->
                
              <p> Additional comments are:  <%= results.getValue(3) %> </p>  <!-- Embedded ejs to load result-->

            
        </div>





        
        

    
</html>